In [34]:
import pandas as pd
import os
import csv

In [35]:
# Loading the translation file
with open('Resources/translate.csv', newline='', encoding="utf-8") as csvfile:
    translation_file = csv.reader(csvfile, delimiter=',')
    tr_list = []
    for row in translation_file:
        tr_list.append([str(row[0]), str(row[1]), str(row[2])])

In [41]:
# Loading, cleaning the vintage files
countries = [ "Italy", "Spain", "USA","France"]
list_df = []
for cc in countries:
    print(cc)
    csv_path = os.path.join("Resources","millesimesTable_"+cc+".csv")
    df = pd.read_csv(csv_path, encoding="utf-8")

    # Add the column country
    df['Country']=cc

    # Rename the column region
    df = df.rename( columns={"RÃ©gion": "Region"})
    
    # Use the translation list to translate the wine and region names
    for tt in tr_list:
        try:
            df[tt[0]] = df[tt[0]].str.replace(tt[1], tt[2])
        except:
            pass

    # rearrange the columns in order to have the country first
    cols = list(df.columns.values) #Make a list of all of the columns in the df
    years_cols = cols[2:-1]
    cols.pop(cols.index('Country')) #Remove b from list
    # cols.pop(cols.index('x')) #Remove x from list
    df = df[['Country']+cols] #Create new dataframe with columns in the order you want

    # Cast the columns of the years into integer or when no values NaN
    # loop on each year column
    for yy in years_cols:
        try:
            df[yy] = df[yy].str.replace('-','')
        except:
            pass
        df[yy] = df[yy].astype(int, errors='ignore')
        
    list_df.append(df)

Italy
Spain
USA
France

In [37]:
list_df[1]

,Country,Region,Type,2016,2015,2014,2013,2012,2011,2010,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
0,Spain,Castille - La Manche,white,4,4,3,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spain,Central Spain,red,4,4,3,5,4,3,3,...,3,3,3,3,NaN,NaN,NaN,NaN,NaN,NaN
2,Spain,Central Spain,white,4,4,4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Spain,Catalonia,red,4,4,3,5,3,3,3,...,3,3,3,3,NaN,NaN,NaN,NaN,NaN,NaN
4,Spain,Galicia,white,4,3,3,3,4,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Spain,Levante,red,4,4,4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Spain,Northern Spain,red,4,4,4,4,4,4,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Spain,Northern Spain,white,4,4,4,4,4,4,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Spain,Northern Spain,red,4,4,4,4,4,3,3,...,3,3,3,3,3,2,2,3,3,2

In [42]:
# pd.concat([list_df[0], list_df[1]], sort=False)
merged_dt = pd.concat(list_df, sort=False)

In [43]:
# Saving the cleaned dataset into the resource clean folder
merged_dt.to_csv("Resources_clean/vintage_table.csv")